/************************************************************************************************************************************/
/**************************************************DESIGN FOR TABLETS****************************************************************/
/************************************************************************************************************************************/

@media screen and (max-width: 900px) {

  .container {
      padding: 0 56px;
  }

  header {
    height: 90px;
  }

  header .container img {
      display: flex;
      width: 42px;
      height: 42px;
  }

  header nav ul li {
      display: flex;
  }

/************************************************Burger menu from Scratch(PURECSS)***********************************************************/
/*******************************/

  nav #burger-menu .s1 {
      transform-origin: 22% 60%;
      margin-bottom: 3px;
  }

  nav #burger-menu .s2 {
      margin-bottom: 3px;
  }

  nav #burger-menu .s3 {
      transform-origin: 22% 60%;
  }

/********Burger Icon itself*********/
  nav #burger-menu span {
      display: block;
      width: 30px;
      height: 3px;
      position: relative;
      background-color: #000000;
      z-index: 1;
      transition: 0.3s ease, 0.3s ease, 0.3s ease;
  }
/***********************************/

  nav #burger-menu ul {
      position: absolute;
      top: 80px;
      right: 0;
      width: 0;
      height: 224px;
      padding-left: 0px;
      padding-top: 16px;
      overflow: hidden;
      background-color: #0000EC;
      list-style-type: none;
  }

  nav #burger-menu ul li {
      margin-left: 20px;
  }

  nav #burger-menu input:checked ~ label .s1 {
      opacity: 1;
      transform: rotate(45deg);
      background-color: #000000;
  }

  nav #burger-menu input:checked ~ label .s2 {
      opacity: 0;
  }
  
  nav #burger-menu input:checked ~ label .s3 {
      opacity: 1;
      transform: rotate(-45deg);
      background-color: #000000;
  }

  nav #burger-menu input:checked ~ ul {
      width: 100%;
      transition: width 0.3s ease-out;
  }

  nav #burger-menu ul li a {
      color: #FFFFFF;
      margin-bottom: 24px;
      font-weight: 300;
      font-size: 16px;
      line-height: 28px;
  }

      nav #burger-menu ul li a:hover {
      color: #00F3BB;
      text-decoration: line-through;
  }
/*****************************************end of Burger Menu***********************************************/

/***************************************Tablet Hero Section*************************************************/

  .hero {
      margin-top: 29px;
      padding: 0 16px;
  }

  .hero .hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero-content h1 {
      font-size: 42px;
      letter-spacing: 0;
      line-height: 38px;
  }

  .dot {
      font-size: 46px;
  }

  .hero-content p {
      line-height: 22px;
      margin: 20px 0;
      width: 100%;
      text-align: center;
  }

  .hero .hero-content button {
      font-size: 18px;
      width: 345px;
      line-height: 24px;
      margin: 36px 0 46px 0;
  }
/***************************************************************************************************************/
/**************************************Tablet Episode section***************************************************/

  .container2 {
      margin: 0;
  }

  .episodes {
      height: 1350px;
      clip-path: polygon(0 4%, 100% 0%, 100% 96%, 0% 100%);
  }

  .episodes h2 {
      font-size: 42px;
      padding: 92px 16px 31px;
      margin-left: 0;
  }
/*******************************************************************************************************************/
/*****************************************Tablet Us section*********************************************************/

  .nosotrxs {
      display: flex;
      flex-direction: column;
  }

  .nosotrxs .phone {
      position: relative;
      height: 100%;
      display: flex;
  }
  
  .nosotrxs-text h2 {
      margin: 27px 0 10px 0px;
      padding: 0;
      font-size: 42px;
      line-height: 38px;
  }
  
  .nosotrxs-text p {
      font-size: 16px;
      line-height: 24px;
  }
/*************************************************************************************************************************/
/********************************************Mtablet Special-guest section*************************************************/

  #special-guest .special {
      text-align: center;
  }

  #special-guest h2 {
      font-size: 42px;
      line-height: 38px;
      margin: 66px 25px 16px;
      padding: 0 35px 14px 18px;
  }

  .phone {
    margin-top: -125px;
}

  #special-guest .special-guest-images li {
      height: 29vh;
  }

  #special-guest .special-guest-images {
      margin-bottom: 20px;
  }
/***************************************************************************************************************************/
/************************************************Tablet themes section******************************************************/

  #themes .some-themes {
      padding: 56px 0 56px 0;
  }

  #themes h2 {
      font-size: 42px;
      line-height: 38px;
      padding: 48px 0 37px 16px;
      text-align: center;
  }

  #themes .some-themes li:not(:first-child) {
      padding-left: 15px;
  }

  #themes .some-themes h3 {
    max-width: 200px;
    margin: 13px 0px 42px;
  }

/***************************************************************************************************************************/
/***************************************************Tablet News Section*****************************************************/

  #news .last-news {
      height: 320px;
      padding: 0 16px;
      clip-path: polygon(0 8%, 100% 0%, 100% 100%, 0% 100%);
  }

  #news .last-news h2 {
      padding: 92px 0 36px 0;
      font-size: 38px;
      line-height: 42px;
      text-align: center;
  }

  #news .last-news button {
      font-size: 18px;
      line-height: 24px;
  }
/*****************************************************************************************************************************/
/*******************************************************Tablet footer*********************************************************/

  .foot {
      height: 121px;
      flex-direction: column;
  }

  .foot p {
      font-size: 16px;
      line-height: 24px;
      padding: 24px 0px 16px 0px;
  }
  .foot .media-icons a img {
      width: 100px;
      padding-bottom: 15px;
  }
}